<mat-drawer-container class="example-container" autosize>
    <mat-drawer
        #drawer
        class="example-sidenav"
        mode="side"
    >
        <p>Auto-resizing sidenav</p>
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        <button mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <input #input type="text">
        <button #button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>
</mat-drawer-container>
