<form [formGroup]="filterForm">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Search name</mat-label>
        <input matInput formControlName="name" type="text">
    </mat-form-field>
    <div formArrayName="brands" class="chacbox-container">
        <mat-checkbox
            *ngFor="let brand of brands; let index = index"
            [formControlName]="index"
        >
            {{brand}}
        </mat-checkbox>
    </div>
    <div formGroupName="priceRange" class="price-range">
        <app-counter-input
            [step]="300"
            formControlName="min"
            class="example-form-field"
        >
            Min
        </app-counter-input>
        <app-counter-input
            [step]="300"
            formControlName="max"
            class="example-form-field"
        >
            Max
        </app-counter-input>
    </div>
</form>