<app-header [title]="title" (menuClick)="sidenav.toggleDrawer()"></app-header>
<!-- <app-sidenav #sidenav [listTemplate]="listTemplate"> -->
<app-sidenav #sidenav>
    <input #input type="text">
    <app-products></app-products>

    <ng-template #list>
        <mat-list role="list" class="mat-list">
            <mat-list-item #listItem role="listitem">Item 1</mat-list-item>
            <mat-list-item #listItem role="listitem">Item 2</mat-list-item>
            <mat-list-item #listItem role="listitem">Item 3</mat-list-item>
        </mat-list>
    </ng-template>
</app-sidenav>
<app-popup-host [template]="list"></app-popup-host>