<mat-card class="example-card">
  <div>
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="example-card-image" src="{{ product.images[0].url }}" alt="{{ product.name }}">
    <mat-card-content>
      <p>
        {{ prepareDescription(product.description) }}
      </p>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="onBuyButtonClick($event)"
    >
      Купить
    </button>
  </mat-card-actions>
</mat-card>
