<!--<section class="product-card">-->
<!--  <div class="product-card__wrap">-->
<!--    <div class="product-card__img-wrap">-->
<!--      <div class="product-card__img">-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="product-card__footer">-->
<!--      <h3 class="product-card__title"></h3>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<section class="card">
  <mat-card class="example-card">
    <div class="card__img-wrap">
      <img class="card__img" [src]="products.images[0].url" alt="Product">
      <div class="card__left-arrow"><mat-icon class="card__arrow">chevron_left</mat-icon></div>
      <div class="card__right-arrow"><mat-icon class="card__arrow">chevron_right</mat-icon></div>
    </div>

    <mat-card-header>
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{products.name}}</mat-card-title>
      <!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>

    <mat-card-content>
      <p class="card__description">
        {{products.description.length > 300 ? products.description.slice(0, 150) + ' ...' : products.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!--      <button mat-button>LIKE</button>-->
      <button mat-button class="card__order" (click)="onOrder($event); $event.stopPropagation()">Buy</button>
    </mat-card-actions>
  </mat-card>
</section>
