:host,
.container {
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 100%;
}

.container {
	padding: 10px 0;
}

.product {
	margin: 10px;
}

.spiner {
	margin: 0 auto;
}

.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination {
	&__page-number {
		cursor: pointer;

		&_active {
			color: rgb(0, 13, 255);
		}
	}
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

// .ng-touched {
// 	border: 5px solid red;
// }

// .ng-untouched {
// 	border: 5px solid black;
// }
