:host {
	display: flex;
	flex-direction: column;
}

.product:not(:nth-child(1)) {
	margin-top: 10px;
}

// .hover {
// 	color: aqua;
// 	background-color: aqua;
// }
// .hover-red {
// 	color: red;
// 	background-color: red;
// }

.spinner {
	margin: 0 auto;
}
