<div *ngIf="products; else spiner" class="container">
    <!-- <ng-container *appCarousel="let content of ...; ..."> -->
        <!-- <ng-template [ngIf]="products" [ngIfElse]="spiner"> -->
                <!-- <ng-template ngFor let-product let-index="index" [ngForOf]="products" [ngForTrackBy]="trackBy">
                    <app-product-card class="product" [product]="products[index]"></app-product-card>
                </ng-template> -->
                <!-- ngFor let-product [ngForOf]="products" [ngForTrackBy]="trackBy" -->

                  <ng-container
                    *appCar="
                        let parts of products;
                        partsCount: 2;
                        let back=back;
                        let next=next;
                        let go=go;
                        let pages=pages
                        let nextDisabled=nextDisabled
                        let prevDisabled=prevDisabled
                        let index=index
                    "
                  >
                    <div class="products">
                      <app-product-card
                        *ngFor="let product of parts; trackBy: trackBy; let index = index"
                        class="product"
                        [product]="product"
                      ></app-product-card>
                    </div>
                    <div class="pages">
                      <ng-container *ngIf="pages">
                        <button *ngIf="index" mat-icon-button (click)="back()">
                          <mat-icon>
                            chevron_left
                          </mat-icon>
                        </button>

                        <ng-container *ngFor="let page of pages">
                          <a *ngIf="!page.active; else num"
                            href="#"
                             (click)="go(page.num)"
                          >{{ page.num }}</a>
                          <ng-template #num>
                            <span>{{ page.num }}</span>
                          </ng-template>
                        </ng-container>

                        <button *ngIf="index!=pages.length - 1" mat-icon-button (click)="next()">
                          <mat-icon>
                            chevron_right
                          </mat-icon>
                        </button>
                      </ng-container>
                    </div>
                  </ng-container>

        <!-- </ng-template> -->


    <!-- </ng-container> -->
</div>

<ng-template #spiner>
    <mat-spinner class="spiner"></mat-spinner>
</ng-template>
