<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input #input matInput type="text">
</mat-form-field>

<!-- <div *ngIf="(products$ | async) as products; else spiner" class="container"> -->
<div
    *ngIf="
        ((products$ | async) | serachFilter : input.value : 'name') as products;
        else spiner;
    "
    class="container"
>
    <ng-container *appCarousel="
        let content of products;
        elementsSize: 6;
        let allIndexes = allIndexes;
        let activeIndex = index;
        let next = next;
        let back = back;
        let selectIndex = selectIndex
    ">
        <div class="card-container">
            <app-product-card
                *ngFor="let product of content; trackBy: trackBy; let index = index"
                class="product"
                [routerLink]="'/product/' + product._id"
                [product]="product"
            ></app-product-card>
            <!-- <app-product-card
                *ngFor="let product of content; trackBy: trackBy; let index = index"
                class="product"
                [routerLink]="'../product/' + product._id"
                [product]="product"
            ></app-product-card> -->
        </div>
    
        <div class="pagination-container">
            <button mat-icon-button (click)="back()">
                <mat-icon>
                    chevron_left
                </mat-icon>
            </button>
            <button
                mat-icon-button
                *ngFor="let index of allIndexes"
                class="pagination__page-number"
                [class.pagination__page-number_active]="activeIndex === index"
                (click)="selectIndex(index)"
            >
                {{index}}
            </button>
            <button mat-icon-button (click)="next()">
                <mat-icon>
                    chevron_right
                </mat-icon>
            </button>
        </div>
    </ng-container>
</div>

<ng-template #spiner>
    <mat-spinner class="spiner"></mat-spinner>
</ng-template>